/* Estilo geral da página */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Barra de navegação */
nav {
  background-color: #bdb8b8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

/* Lista do menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* Itens do menu */
nav li {
  margin: 0 50px;
}

/* Links do menu */
nav a {
  color: #000000;
  text-decoration: none;
  padding: 8px 0;
  display: inline-block;
}

/* Hover dos links do menu */
nav a:hover {
  color: #ffffff;
}

/* Conteúdo principal */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Seções */
section {
  margin-bottom: 40px;
}

/* Títulos das seções */
section h2 {
  margin-bottom: 10px;
  color: #222;
}

/* Cards de projetos */
article {
  background: #bdb8b8;
  color: #000000;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: 0.2s;
}

/* Hover dos cards */
article:hover {
  transform: translateY(-12px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Rodapé */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  main {
    margin: 20px auto;
  }

  header h1 {
    font-size: 22px;
  }

  header p {
    font-size: 14px;
  }
}

.titulo-ativo {
  color: rgb(255, 0, 0);
}

.escondido {
  display: none;
}

#btn-sobre {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  margin: 20px auto;
  
}

section h2,
section p {
  text-align: center;
}

#btn-sobre {
  background-color: black; /* cor do fundo */
  color: white;            /* cor do texto */
  border: none;              /* tira a borda padrão */
  padding: 12px 24px;        /* tamanho do botão */
  font-size: 16px;
  cursor: pointer;           /* mãozinha ao passar o mouse */
  border-radius: 20px;       /* canto do botão */
  transition: background-color 0.8s, transform 0.2s;

}
#btn-sobre:hover {
  background-color: #aca7a7;
  color: #000000;
}

#btn-sobre:hover {
  transform: scale(1.05);
}