body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #04b5f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 50px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
  color: #222;
}

article {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}